<section>
	<div align="center">
		<button id="webcam-launcher" class="btn btn-primary">Verificar Identidad</button>
	</div>

	<div align="center" data-include-widget="webcam_tester">
		<div class="box box-middle">
			<div>
				<video id="webcam-stream">Visor de c&aacute;mara web</video>
					
				<div id="webcam-snapshots"></div>

				<div id="webcam-actions">
					<button data-action="stopWebcam">Detener c&aacute;mara web</button>
					<button data-action="takePhoto">Tomar foto</button>
					<button data-action="fullscreen">Pantalla completa</button>
				</div>

				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				
				<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-2720676934196903"
						data-ad-slot="7466210415"
						data-ad-format="auto">
				</ins>
				
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</div>
		</div>
	</div>
</section>