<div class="div-login">
    <div class="sub-div-login">
        <mat-card class="login-card">
            <mat-card-header>
                <div class="header-icon-user">
                    <h1>
                        <mat-icon aria-hidden="false" class="icon-user" color="primary">account_circle</mat-icon>
                    </h1>
                </div>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="login-full-width">
                        <input matInput placeholder="Usuario" [formControl]="username">
                        <mat-error *ngIf="username.hasError('required')">
                         Debe ingresar un nombre de usuario
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="login-full-width">
                        <input matInput placeholder="Contraseña" [formControl]="password" type="password">
                        <mat-error *ngIf="password.hasError('required')">
                         Debe ingresar una Contraseña
                        </mat-error>
                      </mat-form-field>           
                    <div class="login-button">
                        <button mat-flat-button color="primary" [routerLink]="['/personas-list']">
                            Ingresar
                        </button>
                    </div>
                    <mat-error class="alert alert-danger" *ngIf="error">{{error}}</mat-error>
                </form>
            </mat-card-content>

        </mat-card>
    </div>
</div>