<mat-card>
  <form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{user.name ? 'Edit' : 'Add'}} User</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="user.href">
      <input id="edit-formula" type="hidden" name="href" [(ngModel)]="user.userData">
      <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="user.name"
               required name="name" #name />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Matricula" [(ngModel)]="user.matricula"
              required name="matricula" #matricula />
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="DNI" [(ngModel)]="user.dni"
                required name="dni" #dni />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descipción" [(ngModel)]="user.description"
              required name="description" #description />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!userForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(user.href)"
              *ngIf="user.href" type="button">Delete</button>
      <a mat-button routerLink="/user-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>