<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 well">
      <div align="center"> 
        <fieldset>
            <form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
              <mat-card-title>Registro</mat-card-title>
              <mat-card-content>
                <input type="hidden" name="href" [(ngModel)]="user.href">
                <input id="edit-formula" type="hidden" name="href" [(ngModel)]="user.userData">
                <mat-form-field>
                    <input matInput placeholder="Nombre y apellido" [(ngModel)]="user.name"
                          required name="name" #name />
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Matricula" [(ngModel)]="user.matricula"
                         name="matricula" #matricula />
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Email" [(ngModel)]="user.description"
                        required name="description" #description />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="user.dni"
                          required name="dni" #dni />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit"
                        [disabled]="!userForm.form.valid">Guardar</button>
                <button mat-raised-button color="secondary" (click)="remove(user.href)"
                        *ngIf="user.href" type="button">Eliminar</button>
                <a mat-button routerLink="/user-list">Cancelar</a>
              </mat-card-actions>
              <mat-card-footer>
              </mat-card-footer>
            </form>
        </fieldset>
    </div>
  </div>
<div>