<div class="div-principal">
<div class="container mt-3">

<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-content>
        <table>
          <tbody>
          	<div class="carousel-inner">
           	 <tr mdbTableCol *ngFor="let foto of fotos">
    			<div align="center" class="carousel-item active">
    				<img id="profileImage" src="data:image/jpg;base64,{{foto.archivo}}">
    			</div>
             </tr>
            </div>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
</div>
</div>