
<div class="container mt-3">

<h2>Pablo Garcia</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-content>
        <table class="table table-dark table-striped table-hover">
          <tbody>
          	<div class="carousel-inner">
           	 <tr mdbTableCol *ngFor="let foto of fotos">
    			<div align="center" class="carousel-item active">
    				<img id="profileImage" src="data:image/jpg;base64,{{foto.archivo}}">
    			</div>
             </tr>
            </div>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
</div>

<!-- Botones para cambiar imagen -->
<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
	<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#myCarousel" data-slide="next">
	<span class="carousel-control-next-icon"></span>
</a>