
<div class="container mt-3">

<h2>Pablo Garcia</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Imagenes a mostrar -->
  <div class="carousel-inner">
    <div align="center" class="carousel-item active">
      <img src="assets/img/fotos/img_1.jpg" alt="Chicago" width="250" height="250">
    </div>
    <div align="center" class="carousel-item">
      <img src="assets/img/fotos/img_2.jpg" alt="New York" width="250" height="250">
    </div>
  </div>

  <!-- Botones para cambiar imagen -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-content>
        <table class="table table-dark table-striped table-hover">
          <tbody>
            <tr mdbTableCol *ngFor="let foto of fotos">
              <td>{{foto.id}}</td>
              <td>{{foto.nombreArchivo}}</td>
              <td>{{foto.idPersona}}</td>
              <td><img id="profileImage" src="data:image/jpg;base64,{{foto.archivo}}"></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
</div>